.navigation {
	background: $navbar-background;
	height: $navbar-height-desktop;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: $z-index--navbar;

	@include mobile {
		height: $navbar-height-mobile;
	}

	.container {
		height: 100%;
		max-width: 100%;
	}

	&-branding {
		cursor: pointer;

		@include mobile {
			height: $navbar-height-mobile;
			left: -100%;
			position: absolute;
			top: 0;
			transition: left $transition-duration-base linear;
		}

		@include desktop {
			display: inline-block;
			float: left;
			height: $navbar-height-desktop;
			position: relative;

			&:hover {
				.navigation-branding__svg {
					animation: pop $transition-duration-base ease alternate 1;
				}
			}
		}

		&__svg {
			fill: $navbar-font-color;
			height: 100%;
			padding-right: $spacing-base;

			@include mobile {
				padding-bottom: $navbar-logo-spacing--mobile;
				padding-left: $spacing-base;
				padding-top: $navbar-logo-spacing--mobile;
			}

			@include desktop {
				padding-bottom: $navbar-logo-spacing--desktop;
				padding-left: $spacing-small;
				padding-top: $navbar-logo-spacing--desktop;
			}
		}
	}

	nav {
		@include mobile {
			background-color: $color-white;
			color: $color-black;
			height: unquote("calc(100vh - ")$navbar-height-mobile unquote(")");
			left: 0;
			overflow-y: auto;
			padding-left: 0;
			position: absolute;
			right: 100%;
			top: $navbar-height-mobile;
			transition: right $transition-duration-base linear;
		}


		@include desktop {
			float: left;
		}
	}

	.nav-list {
		@include clearfix;
		display: block;
		position: relative;

		@include desktop {
			top: $navbar-height-desktop--offset;

			@supports (display: flex) {
				display: flex;
				height: $navbar-height-desktop;
				top: unset;
			}
		}

		&__item {
			display: block;
			position: relative;

			@include desktop {
				float: left;
			}


			@include mobile {
				&--hassub {

					&.is-visible {
						>a::after {
							transform: rotate(180deg);
						}
					}

					>a {
						position: relative;

						&::after {
							background-image: url("../images/svg/chevron.svg");
							background-position: center center;
							background-repeat: no-repeat;
							background-size: contain;
							content: "";
							height: $spacing-large;
							position: absolute;
							right: 14px;
							top: 0;
							transition: transform $transition-duration-base ease-in-out;
							width: 20px;
						}
					}
				}
			}

			&--hassub {
				&.is-visible {
					.nav-list__subnav {
						@extend %js-slides-down--visible;
					}
				}
			}

			a {
				cursor: pointer;
				display: block;
				font-family: $navbar-link-family;
				line-height: $navbar-link-line-height;
				padding-left: $spacing-base;
				padding-right: $spacing-base;
			}

			>a {
				font-size: 21px;
				transition: color $transition-duration-base cubic-bezier(0, 0, 0.58, 1), background-color $transition-duration-base cubic-bezier(0, 0, 0.58, 1);

				@supports (display: flex) {
					align-items: center;
					display: flex;
					height: 100%;
				}

				@include mobile {
					color: $color-black;

					&:hover {
						background-color: $color-brand-seconday;
					}
				}

				@include desktop {
					color: $navbar-primary-link--color;

					&:hover {
						background-color: $navbar-primary-link--hover-bg;
						color: $navbar-primary-link--hover-color;
					}
				}

				// < Hack: 🙁 Nav was being pushed out of container
				@media screen and (min-width: $breakpoint-desktop) and (max-width: 829px) {
					padding-left: $spacing-small;
					padding-right: $spacing-small;
				}

				@media screen and (min-width: 830px) and (max-width: 930px) {
					padding-left: 16px;
					padding-right: 16px;
				}

				//  Hack /> 🕺🏿
			}
		}

		&__subnav {
			@extend %js-slides-down--hidden;
			background: $navbar-subnav--color-bg;
			left: 0;
			white-space: nowrap;
			z-index: $navbar-z-index--secondary;

			@include mobile {
				position: relative;
				top: 100%;
			}

			@include desktop {
				position: absolute;
				top: $navbar-height-desktop - $navbar-height-desktop--offset;

				@supports (display: flex) {
					top: $navbar-height-desktop;
				}
			}

			&--item {
				display: block;

				a {
					color: $navbar-subnav--color-text;
					font-family: $navbar-subnav--text-family;
					font-size: 16px;
					overflow: hidden;
					transition: color $transition-duration-base cubic-bezier(0, 0, 0.58, 1), background-color $transition-duration-base cubic-bezier(0, 0, 0.58, 1);

					&:hover {
						background: $color-brand-seconday;
						color: $color-brand-primary;
					}
				}
			}
		}
	}

	// State - Drawer Opem
	.drawer-open & {
		@include mobile {
			&-branding {
				left: 0;

				.navigation-branding__svg {
					animation: pop $transition-duration-base ease alternate 1;
					animation-delay: $transition-duration-base;
				}
			}

			nav {
				right: $navbar-height-desktop;
			}
		}
	}

	// Copyright Footer
	.copyright {
		@include mobile {
			bottom: 0;
			display: block;
			font-family: $font-family-helvetica;
			font-size: $spacing-small;
			height: $spacing-large;
			left: 0;
			line-height: 16px;
			padding: (($spacing-large - 16px) / 2) $spacing-base;
			position: absolute;

			>a {
				transition: color $transition-duration-base ease-in-out;

				&:hover {
					color: $color-brand-primary;
				}
			}
		}

		@include desktop {
			display: none;
		}
	}
}
