body {
	background-color: $color-white;

	@include mobile {
		margin-top: $navbar-height-mobile;
	}

	@include desktop {
		margin-top: $navbar-height-desktop;
	}
}

.container {
	@include clearfix;
	margin-left: auto;
	margin-right: auto;
	max-width: $container-width;
	padding-left: $container-spacing;
	padding-right: $container-spacing;
	width: 100%;
}

// Hero
.section-hero {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	width: 100%;

	@include mobile {
		background-image: url("../images/background-image.jpg?size=767");
		min-height: 240px;
	}

	@include desktop {
		background-image: url("../images/background-image.jpg");
		min-height: 640px;
	}
}



// Intro
.section-intro {
	padding-bottom: 60px;
	position: relative;

	@include desktop {
		.lead {
			&:first-of-type {
				padding-top: 60px;
			}
		}
	}
}

.callout {
	@include mobile {
		padding-bottom: 40px;
		padding-top: 50px;
	}

	@include desktop {
		color: $color-white;
		font-size: 120px;
		height: 640px;
		position: relative;
		top: 50%;
		transform: translateY(-25%);

		&__wrap {

			display: block;
			height: 640px;
			left: 50%;
			margin-left: -$container-width / 2;
			position: absolute;
			text-align: center;
			top: 0;
			width: $container-width;
		}
	}
}
