body {
	background-color: $color-white;

	@include mobile {
		margin-top: $navbar-height-mobile;
	}

	@include desktop {
		margin-top: $navbar-height-desktop;
	}
}

.container {
	@include clearfix;
	margin-left: auto;
	margin-right: auto;
	max-width: $container-width;
	padding-left: $container-spacing;
	padding-right: $container-spacing;
	width: 100%;
}

// Hero
.section-hero {
	background-image: url("../images/background-image.jpg");
	text-align: center;

	.container {
		display: table;
		width: 100%;

		@include mobile {
			min-height: 240px;
		}

		@include desktop {
			min-height: 640px;
		}

		>h2 {
			color: $color-white;
			display: table-cell;
			vertical-align: middle;
		}
	}
}



// Intro
.section-intro {
	padding-bottom: 60px;
	padding-top: 60px;
}
